../../Curso 31 BA MULTIPLICA Linkedin y power point y mas/
../../Curso Gob San Juan DESARROLLO MOVIL/
../../Curso Gob San Juan SERVIDORES/
../../Curso Instituto Web GIT/
../../Curso Instituto Web Testing Manual de Software/
../../DIseño UX oct24, gob ciudad/
../../Diploma_CAC python front end y habilidades blandas 2024 may-jul.pdf
../../E_BOOK_ALURA_LATAM_SOFT_SKILLS_ES-0822.pdf
../../PYTHON Javascript CSS Linux.txt
../../PoweBI Curso Youtube 23/
../
../../_curso Codo a Codo Python Full Stack marzo 2024/
../../ciencias de datos y metologia agil temas y horarios codo a codo 2024 marzo.txt
../../codo a codo python 2024 febrero dias y horarios mi curso.png
../../constanciaDePreinscripcion codo a codo noviembre 2023 ful stack python esperar confirmacion de vacante en diciembre.pdf
../../constanciaDePreinscripcion codoacodo2024 python fullstack.pdf
../../curso ADM, PYME, MONOTRIBUTO/
../../curso ARG PROGRAMA 4, UTN, TESTING/
../../curso GIT YOUTUBE/
../../curso HENRY/FT-M3/
../../curso HENRY/RUTA INSTALACION VS.txt
../../curso Programacion Web Inicial BA MULTIPLICA 2023 C45/
../../curso UTN MULTIPLY TESTING/
../../curso YOUTUBE Kiko Palomares CSS/
../../curso videojuego/
../../cursos UNREAL Videojuego 2/
../../inscripcion lic analisis de datos universidad san luis VIRTUAL GRATIS.pdf
../../multiplicate curso 31 oct pagina html.png
../../proyectos_informaticos/
../../react viejo/
../../react/
../../../Autorización participación e imagen - ADULTOS - 2024 diseño ux 2024 agosto.pdf
../../../CANCIONES PARA CELEBRACION EVENTO 23 NOVIEMBRE.txt
../../../Calendario_Academico_2024_2025_0f52e8171d fiuba.pdf
../../../Curso_Power_BI_-_Preparación_de_Datos.pdf
../../../DEPOSITO/
../../../Datos viejos de Firefox/
../../../EXPEDIENTES/
../../../FOTOS/
../../../Formulario para bajas 2024.docx
../../../Formulario para bajas 2024.pdf
../../../Games/
../../../Gobierno de la Ciudad de Buenos Aires CENS N55.pdf
